.GameInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.ButtonsBar {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.InfoBar {
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    h3 {
        margin: 0;
    }
}

.OponentInfoBar {
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 4px;
    padding: 8px;
    width: 100%;

    h3 {
        margin: 0;
    }
}

.PlayerInfoBar {
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    text-align: end;

    h3 {
        margin: 0;
    }
}

.StageBoard {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: coral;
    border-radius: 4px;
    div {
        background-color: transparent !important;
    }
}