@media screen and (max-width: calc(100dvh + 250px)) {
    .GameBoard {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        aspect-ratio: 1;
        border: 1px solid black;
    }
}

@media screen and (min-width: calc(100dvh + 250px)) {
    .GameBoard {
        
        display: flex;
        flex-wrap: wrap;
        height: calc(100dvh);
        aspect-ratio: 1;
        border: 1px solid black;
    }
}