.StageBoard {
    background-color: coral;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: calc(100dvh - 80px);

    div {
        background-color: transparent !important;
    }
}

.StageBoard2 {
    background-color: coral;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    div {
        background-color: transparent !important;
    }
}

@media screen and (orientation: portrait) {
    .StageBoard {
        background-color: coral;
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        div {
            background-color: transparent !important;
        }
    }
}

@media screen and (orientation: landscape) {
    .StageBoard {
        background-color: coral;
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        width: 100dvh;

        div {
            background-color: transparent !important;
        }
    }
}